h1 {
    color : yellow;
}

h2 {
    color: #eab308;
}

h3{
    color:blueviolet
}

body{
    background-color: #1e293b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    text-align: center;
}

p {
    color: white;
}

li {
    color: white;
}
